body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contain{
    margin-top: 25px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 5px;
    border: 1px solid black;
}